<section class="team" id="team">
				<div class="container">
					<div class="row">
						<div class="team-heading text-center">
							<h1>Our Team</h1>
							<h4>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</h4>
						</div><br>


						<div class="col-md-2 single-member col-sm-4">
							<div class="person">
							<%= image_tag "member1.jpg", :size => "170x170" %>

							</div>

							<div class="person-detail">
								<div class="arrow-bottom"></div>
								<h3>Dr. M. Weiner, M.D.</h3>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
							</div>
						
						</div>

						<div class="col-md-2 single-member col-sm-4">

							<div class="person-detail">
								<div class="arrow-top"></div>
								<h3>Dr. Danielle, M.D.</h3>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
							</div>
							<div class="person">
							<%= image_tag "member2.jpg", :size => "170x170" %>
							</div>
						</div>
						<div class="col-md-2 single-member col-sm-4">
							<div class="person">
							<%= image_tag "member3.jpg", :size => "170x170" %>
							</div>
							<div class="person-detail">
								<div class="arrow-bottom"></div>
								<h3>Dr. Caitlin, M.D.</h3>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
							</div>
						</div>

						<div class="col-md-2 single-member col-sm-4">
							<div class="person-detail">
								<div class="arrow-top"></div>
								<h3>Dr. Joseph, M.D.</h3>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
							</div>
							<div class="person">
							<%= image_tag "member4.jpg", :size => "170x170" %>
							</div>
						</div>

						<div class="col-md-2 single-member col-sm-4">
							<div class="person">
							<%= image_tag "member5.jpg", :size => "170x170" %>
							</div>

							<div class="person-detail">
								<div class="arrow-bottom"></div>
								<h3>Dr. Michael, M.D.</h3>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
							</div>
						</div>

						<div class="col-md-2 single-member col-sm-4">

							<div class="person-detail">
								<div class="arrow-top"></div>
								<h3>Dr. Hasina, M.D.</h3>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
							</div>
							<div class="person">
							<%= image_tag "member6.jpg", :size => "170x170" %>
							</div>

						</div>
					</div>
				</div>
			</section><!-- end of team section -->
