<% provide(:title, "Index") %>
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js"> <!--<![endif]-->
<head>
  
</head>
  <body>
  <div>  <%= image_tag "baby.jpg", :size => "1140x400" %>
</div><br><br>
  


        <div class="container">
            <div class="row  fbox">
                <div class="col-lg-3">
                   
					<%= image_tag "health1.jpg", :size => "140x100" %>
				
                    <h3>Health Care</h3>
                       <p> 
                        Health care is the diagnosis, treatment, and prevention of disease, illness, injury, and other physical and mental impairments in human beings. 
                        </p>
                
                </div>
                
                <div class="col-lg-3">
                    <%= image_tag "baby1.jpg", :size => "140x100" %>
                    <h3>Baby Name</h3>
                    
                         <p>
                        <a href="http://www.babynamesdirect.com/indian-baby-names/">Baby Names</a>
                </p>
                      
                </div>
                
                <div class="col-lg-3">
                    <%= image_tag "bottle1.jpg", :size => "140x100" %>
                    <h3>User Articles</h3>
                     <div class="fbox">
                         <p>
                        Pregnancy articles and information on BellyBelly. Try our pregnancy calculator, read about pregnancy symptoms and find out what to expect during pregnancy.
                        <br>
                        <a href="http://www.bellybelly.com.au/pregnancy/">Pregnancy Articles</a>
                </p>
                </div>
                 </div>

                <div class="col-lg-3">
                   <%= image_tag "nipple.jpg", :size => "140x100" %>
                    <h3>Week By Week</h3>
                     <div class="fbox">
                         <p>
                       Take this time to nourish your body and your baby and prepare for each new day of pregnancy, childbirth and parenting. Lamaze seeks to serve you as a guide and a resource, and we'll be with you every step of the way.
                </p>
                </div>
                                    </div>

            </div>
        </div>
  </body>
</html>