<center><h1>Tips</h1></center>

<div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-center">
        <li><%= link_to "Fitness", fitness_path %></li>
        <li><%= link_to "Beauty", beauty_path %></li>
        
        <li><%= link_to "Diseases and Conditions", diseases_and_conditions_path %></li>
          <li><%= link_to "Pregnancy", pregnancy_path %></li>
        
          <li><%= link_to "Parenting", parenting_path %></li>
        
      </ul>
    </nav>
  </div>